[flake8]

plugins = pydantic

# Maximale Zeilenlänge (entspricht Black-Standard)
max-line-length = 88

# Ignoriere Whitespace-Regel E203 (Black erzeugt hier zulässige Ausdrücke)
extend-ignore = E203

# Verzeichnisse/Dateien, die Flake8 nicht prüfen soll
exclude =
    .git,
    __pycache__,
    .venv,

